<h2 mat-dialog-title>Tramitar solicitação</h2>

<form [formGroup]="tramitPatientRequestForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <div class="line" style="grid-template-columns: 1fr;">
      
      <mat-form-field appearance="outline">
        <mat-label>Pagamento</mat-label>
        <input 
          matInput 
          type="text" 
          [formControl]="paymentProfessionalControl" 
          [matAutocomplete]="paymentProfessional" 
          [readonly]="paymentProfessionalReadOnly() || isSubmitting()"
        >
        
        @if (paymentProfessionalLoading()) {
          <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
        }

        <mat-autocomplete #paymentProfessional="matAutocomplete" [displayWith]="displayPaymentProfessional">
          @for (option of filteredPaymentProfessionalOptions | async; track option.id) {
            <mat-option [value]="option" (onSelectionChange)="setPaymentProfessional(option)">
              <mat-chip style="margin-right: 20px;">{{ option?.patient_payment_requests_count || 0 }}</mat-chip>
              <span>{{ option?.name }}</span>
            </mat-option>
          }
        </mat-autocomplete>

        @for (item of errorMessages['payment_professional_id']; track $index) {
          <mat-error [hidden]="!tramitPatientRequestForm.get('payment_professional_id')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>

    </div>

    <mat-list>
      @for (item of data?.patient_request?.attachments; track item.id) {
        <mat-list-item>
          <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <span>{{ item.name }}</span>
            <mat-slide-toggle 
              [disabled]="isSubmitting()" 
              (toggleChange)="toggleArchive(item)"
            ></mat-slide-toggle>
          </div>
        </mat-list-item>
      } @empty {
        <div style="text-align: center; padding: 15px 0; color: rgba(0, 0, 0, 0.54);">
          Nenhum arquivo cadastrado.
        </div>
      }
    </mat-list>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" type="button">Fechar</button>
    <button 
      mat-flat-button
      color="primary"
      type="submit" 
      [disabled]="tramitPatientRequestForm.invalid || tramitPatientRequestForm.pending || isSubmitting() || paymentProfessionalLoading()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner matPrefix [diameter]="20"></mat-spinner>
        }
        Tramitar
      </div>
    </button>
  </mat-dialog-actions>
</form>