@use 'variables' as *;

:host {
    display: flex;
    justify-content: center;
    padding-bottom: $spacing-xxl;
}

section {
    margin-top: $spacing-xxl;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: $spacing-xxl;
}

.mid-graph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-xxl;
}