<section>
    @if (module() == 'tfd') {
        <div>
            <app-literal-data></app-literal-data>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">
            <app-patient-request-data></app-patient-request-data>
            <app-travel-month-data></app-travel-month-data>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">
            <app-cost-assistance-vs-accountability-data></app-cost-assistance-vs-accountability-data>
            <app-specialist-care-data></app-specialist-care-data>
        </div>
    }
    @if (module() == 'homecare') {
        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">
            <app-specialist-transplant-data></app-specialist-transplant-data>
            <app-judicialized-data></app-judicialized-data>
        </div>
    }
</section>
