@if (module()) {
    <section>
        @if (module() == 'tfd') {
            <div>
                <app-literal-data></app-literal-data>
            </div>
            <div class="mid-graph">
                <app-patient-request-data></app-patient-request-data>
                <app-travel-month-data></app-travel-month-data>
            </div>
            <div class="mid-graph">
                <app-cost-assistance-vs-accountability-data></app-cost-assistance-vs-accountability-data>
                <app-specialist-care-data></app-specialist-care-data>
            </div>
        }
        @if (module() == 'homecare') {
            <div>
                <app-homecare-literal-data></app-homecare-literal-data>
            </div>
            <div class="mid-graph">
                <app-patient-month-cost-data></app-patient-month-cost-data>
                <app-operational-efficiency-data></app-operational-efficiency-data>
            </div>
        }
        @if (module() == 'transplante') {
            <div class="mid-graph">
                <app-specialist-transplant-data></app-specialist-transplant-data>
                <app-judicialized-data></app-judicialized-data>
            </div>
        }
    </section>
} @else {
    Nenhum módulo selecionado
}
