<h2 mat-dialog-title>Novo arquivo</h2>
<form [formGroup]="createPatientRequestAttachmentForm" (ngSubmit)="onCreatePatientReportAttachmentSubmit()">
    <mat-dialog-content>
        <div class="line" style="grid-template-columns: 1fr;">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name">
                @for (item of errorMessages['name']; track $index) {
                    <mat-error *ngIf="createPatientRequestAttachmentForm.get('name')?.hasError(item.type)">{{item.message}}</mat-error>
                }
            </mat-form-field>
            <div style="display: flex;">
                <input type="file" class="file-input" (change)="onFileSelected($event)" #file style="display: none;">
                <button matFab extended type="button" (click)="file.click()" [matTooltip]="labelFile()">
                    <mat-icon>attach_file</mat-icon>
                    Anexar arquivo
                </button>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="filled" type="submit" [disabled]="createPatientRequestAttachmentForm.invalid|| !hasFile || wSubmit()">
            <div class="waiting">
                @if (wSubmit()) {
                    <mat-spinner matPrefix [diameter]="20"></mat-spinner>
                }
                Criar
            </div>
        </button>
        <button matButton [mat-dialog-close]="false">Fechar</button>
    </mat-dialog-actions>
</form>

