<h2 mat-dialog-title>Novo arquivo</h2>

<form [formGroup]="createAttachmentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <div class="line" style="grid-template-columns: 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name">
        
        @for (item of errorMessages['name']; track $index) {
          <mat-error [hidden]="!createAttachmentForm.get('name')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>

      <div style="display: flex;">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #file style="display: none;">
        <button matFab extended type="button" (click)="file.click()" [matTooltip]="fileLabel()">
          <mat-icon>attach_file</mat-icon>
          Anexar arquivo
        </button>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button matButton [mat-dialog-close]="false">Fechar</button>
    
    <button 
      matButton="filled" 
      type="submit" 
      [disabled]="createAttachmentForm.invalid || !hasFile() || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner matPrefix [diameter]="20"></mat-spinner>
        }
        Criar
      </div>
    </button>
  </mat-dialog-actions>
</form>