<h2 mat-dialog-title>Atualizar paciente</h2>

<mat-dialog-content>
    <mat-stepper #stepper>
        
        <mat-step [stepControl]="identificationForm">
            <ng-template matStepLabel>Dados de identificação</ng-template>
            <form [formGroup]="identificationForm">
                <div class="stepper">
                    <div class="line cols-1-3">
                        <mat-form-field appearance="outline">
                            <mat-label>CNS</mat-label>
                            <input matInput type="text" mask="000 0000 0000 0000" formControlName="cns" (keyup)="getPatientCns()">
                            @for (item of errorMessages['cns']; track item.type) {
                                <mat-error [hidden]="!identificationForm.get('cns')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <div class="file-actions-cell">
                            <button class="btn-archive" type="button" mat-icon-button [disabled]="!data.patient.file_cns_id" (click)="download(data.patient.file_cns_id, 'cns')">
                                <mat-icon>download</mat-icon>
                            </button>
                            <input type="file" hidden (change)="onFileSelected($event, 'cns', identificationForm)" #fileCNS>
                            <button mat-raised-button type="button" (click)="fileCNS.click()" [matTooltip]="fileLabels.cns()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar CNS
                            </button>
                        </div>
                    </div>
                    
                    <div class="line cols-15-2-15">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de documento</mat-label>
                            <mat-select formControlName="document_type">
                                <mat-option value="CPF">CPF</mat-option>
                                <mat-option value="Certidão de nascimento">Certidão de nascimento</mat-option>
                            </mat-select>
                            @for (item of errorMessages['document_type']; track item.type) {
                                <mat-error [hidden]="!identificationForm.get('document_type')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Documento</mat-label>
                            <input matInput type="text" [mask]="identificationForm.get('document_type')?.value === 'CPF' ? '000.000.000-00' : '000000 00 00 0000 0 00000 000 0000000 00'" formControlName="document" (keyup)="getPatientDocument()">
                            @for (item of errorMessages['document']; track item.type) {
                                <mat-error [hidden]="!identificationForm.get('document')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <div class="file-actions-cell">
                            <button class="btn-archive" type="button" mat-icon-button [disabled]="!data.patient.file_document_id" (click)="download(data.patient.file_document_id, 'document')">
                                <mat-icon>download</mat-icon>
                            </button>
                            <input type="file" hidden (change)="onFileSelected($event, 'document', identificationForm)" #fileDocument>
                            <button mat-raised-button type="button" (click)="fileDocument.click()" [matTooltip]="fileLabels.document()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar documento
                            </button>
                        </div>
                    </div>
                    
                    <div class="line cols-1-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Sigadoc</mat-label>
                            <input matInput type="text" placeholder="SES-PRO-0000/00000" formControlName="sigadoc">
                            @for (item of errorMessages['sigadoc']; track item.type) {
                                <mat-error [hidden]="!identificationForm.get('sigadoc')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="personalForm">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <form [formGroup]="personalForm">
                <div class="stepper">
                    <div class="line cols-2-1-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="name">
                            @for (item of errorMessages['name']; track item.type) {
                                <mat-error [hidden]="!personalForm.get('name')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Data de Nascimento</mat-label>
                            <input 
                                matInput 
                                [matDatepicker]="picker" 
                                formControlName="birth_date"
                                placeholder="DD/MM/AAAA"
                                (dateChange)="setBirthDate($event)">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            @for (item of errorMessages['birth_date']; track item.type) {
                                <mat-error [hidden]="!personalForm.get('birth_date')?.hasError(item.type)">
                                    {{ item.message }}
                                </mat-error>
                            }
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Estado civil</mat-label>
                            <mat-select formControlName="marital_status">
                                @for (item of maritalStatuses; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="line cols-1-1-1-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Raça</mat-label>
                            <mat-select formControlName="race">
                                @for (item of races; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                            @for (item of errorMessages['race']; track item.type) {
                                <mat-error [hidden]="!personalForm.get('race')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Etnia</mat-label>
                            <mat-select formControlName="ethnicity">
                                @for (item of ethnicities; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Naturalidade</mat-label>
                            <input type="text" matInput [formControl]="naturalnessControl" [matAutocomplete]="naturalness" [readonly]="naturalnessReadOnly()">
                            @if (naturalnessLoading()) {
                                <mat-spinner matSuffix [diameter]="20" class="spinner-suffix"></mat-spinner>
                            }
                            <mat-autocomplete #naturalness="matAutocomplete" (optionSelected)="onNaturalnessSelected($event.option.value)">
                                @for (option of filteredNaturalnessOptions | async; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                }
                            </mat-autocomplete>
                            @for (item of errorMessages['naturalness']; track item.type) {
                                <mat-error [hidden]="!naturalnessControl.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Gênero</mat-label>
                            <mat-select formControlName="gender">
                                @for (item of genders; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                            @for (item of errorMessages['gender']; track item.type) {
                                <mat-error [hidden]="!personalForm.get('gender')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    
                    <div class="line cols-1-1-1-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Profissão</mat-label>
                            <input type="text" matInput formControlName="profession" [matAutocomplete]="profession">
                            <mat-autocomplete autoActiveFirstOption #profession="matAutocomplete">
                                @for (option of filteredProfessionsOptions | async; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input matInput mask="(00) 0000-0000" type="text" formControlName="phone">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Celular</mat-label>
                            <input matInput mask="(00) 00000-0000" type="text" formControlName="cell_phone">
                        </mat-form-field>
                    </div>
                    
                    <div class="line cols-2-2-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Nome da mãe</mat-label>
                            <input matInput type="text" formControlName="mother_name">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Nome do pai</mat-label>
                            <input matInput type="text" formControlName="father_name">
                        </mat-form-field>
                        
                        <div class="toggle">
                            <mat-slide-toggle formControlName="newborn">Recém nascido</mat-slide-toggle>
                        </div>
                    </div>
                    
                    <div class="line cols-1-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Deficiência</mat-label>
                            <mat-select formControlName="deficiency">
                                @for (item of deficiencies; track item) {
                                    <mat-option [value]="item">{{ item }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        
                        <div class="file-actions-cell">
                            <button class="btn-archive" type="button" mat-icon-button [disabled]="!data.patient.file_deficiency_id" (click)="download(data.patient.file_deficiency_id, 'deficiency')">
                                <mat-icon>download</mat-icon>
                            </button>
                            <input type="file" hidden (change)="onFileSelected($event, 'deficiency', personalForm)" #fileDeficiency>
                            <button mat-raised-button type="button" (click)="fileDeficiency.click()" [matTooltip]="fileLabels.deficiency()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar laudo
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="addressForm">
            <ng-template matStepLabel>Dados de endereço</ng-template>
            <form [formGroup]="addressForm">
                <div class="stepper">
                    <div class="line cols-1-3">
                        <mat-form-field appearance="outline">
                            <mat-label>CEP</mat-label>
                            <input matInput type="text" mask="00000-000" formControlName="cep" (keyup)="fetchAddress()">
                            @for (item of errorMessages['cep']; track item.type) {
                                <mat-error [hidden]="!addressForm.get('cep')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <div class="file-actions-cell">
                            <button class="btn-archive" type="button" mat-icon-button [disabled]="!data.patient.file_address_id" (click)="download(data.patient.file_address_id, 'address')">
                                <mat-icon>download</mat-icon>
                            </button>
                            <input type="file" hidden (change)="onFileSelected($event, 'address', addressForm)" #fileAddress>
                            <button mat-raised-button type="button" (click)="fileAddress.click()" [matTooltip]="fileLabels.address()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar comprovante de endereço
                            </button>
                        </div>
                    </div>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Endereço</mat-label>
                        <input matInput type="text" formControlName="address">
                        @for (item of errorMessages['address']; track item.type) {
                            <mat-error [hidden]="!addressForm.get('address')?.hasError(item.type)">{{ item.message }}</mat-error>
                        }
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Complemento</mat-label>
                        <input matInput type="text" formControlName="complement">
                    </mat-form-field>
                    
                    <div class="line cols-1-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Número</mat-label>
                            <input matInput type="text" formControlName="number">
                            @for (item of errorMessages['number']; track item.type) {
                                <mat-error [hidden]="!addressForm.get('number')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Bairro</mat-label>
                            <input matInput type="text" formControlName="neighborhood">
                            @for (item of errorMessages['neighborhood']; track item.type) {
                                <mat-error [hidden]="!addressForm.get('neighborhood')?.hasError(item.type)">{{ item.message }}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    
                    <div class="line cols-1-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Cidade</mat-label>
                            <input matInput type="text" formControlName="city">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="uf-field">
                            <mat-label>UF</mat-label>
                            <input type="text" matInput formControlName="state" [matAutocomplete]="state">
                            <mat-autocomplete autoActiveFirstOption #state="matAutocomplete">
                                @for (option of filteredUfsOptions | async; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="infoForm">
            <ng-template matStepLabel>Dados adicionais</ng-template>
            <form [formGroup]="infoForm">
                <div class="stepper">
                    <div class="line cols-1-col">
                        <mat-form-field appearance="outline">
                            <mat-label>Observação</mat-label>
                            <input matInput type="text" formControlName="observation">
                        </mat-form-field>
                    </div>
                    
                    <div class="line cols-1-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Número de controle</mat-label>
                            <input matInput type="text" formControlName="control_number">
                        </mat-form-field>
                        
                        <div class="file-actions-cell">
                            <button class="btn-archive" type="button" mat-icon-button [disabled]="!data.patient.patient_info.file_protocol_id" (click)="download(data.patient.patient_info.file_protocol_id, 'protocol')">
                                <mat-icon>download</mat-icon>
                            </button>
                            <input type="file" hidden (change)="onFileSelected($event, 'protocol', infoForm)" #fileProtocol>
                            <button mat-raised-button type="button" (click)="fileProtocol.click()" [matTooltip]="fileLabels.protocol()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar protocolo municipal
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="false">Fechar</button>
    <button 
        mat-flat-button 
        color="primary" 
        type="button" 
        [disabled]="identificationForm.invalid || personalForm.invalid || addressForm.invalid || isFormsPristine() || isSubmitting()" 
        (click)="onSubmit()"
    >
        <div class="waiting">
            @if (isSubmitting()) {
                <mat-spinner [diameter]="20"></mat-spinner>
            }
            Salvar alterações
        </div>
    </button>
</mat-dialog-actions>