<h2 mat-dialog-title>Detalhes da prestação de conta</h2>
<mat-dialog-content>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Dados da prestação de conta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="line" style="grid-template-columns: 2fr 1fr;">
                <div>
                    <strong>Nome: </strong>{{data.accountability.name}}
                </div>
                <div>
                    <strong>Total: </strong>{{data.accountability.total_dailies | currency:'BRL'}}
                </div>
            </div>
            <div class="line" style="grid-template-columns: 2fr 1fr;">
                <div>
                    <strong>Data de criação:</strong>{{data.accountability.created_at | date: 'dd/MM/y'}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" style="margin-top: 30px;">
        <mat-card-header>
            <mat-card-title>Diárias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @for (item of data.accountability.accountability_dailies; track $index) {
                <div class="line" style="grid-template-columns: 3fr 1fr 1fr 1fr;">
                    <div>
                        {{item.daily_cost.name}}
                    </div>
                    <div>
                        {{item.daily_cost.value | currency:'BRL'}}
                    </div>
                    <div>
                        {{item.amount}}
                    </div>
                    <div>
                        {{item.amount * item.daily_cost.value | currency:'BRL'}}
                    </div>
                </div>
            } @empty {
                <div style="text-align: center; width: 100%;">
                    Nenhuma diária vinculada à prestação de conta.
                </div>
            }
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton [mat-dialog-close]="false">Fechar</button>
</mat-dialog-actions>
