<h2 mat-dialog-title>Atualizar regra</h2>
<form [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field style="width: 100%;">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="submit" [disabled]="updateForm.invalid || updateForm.pristine">Atualizar regra</button>
    <button mat-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>
</form>
