<h2 mat-dialog-title>{{ data.patient_request.is_owner_bookmark ? 'Desmarcar sobrestado' : 'Marcar sobrestado' }}</h2>
<mat-dialog-content>{{ data.patient_request.is_owner_bookmark ? 'Você deseja desmarcar em sobrestado?' : 'Você deseja marcar em sobrestado?' }}</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="filled" [disabled]="wSubmit()" (click)="haltedPatientRequest()">
        <div class="waiting">
            @if (wSubmit()) {
                <mat-spinner matPrefix [diameter]="20"></mat-spinner>
            }
            {{ data.patient_request.is_owner_bookmark ? 'Desmarcar' : 'Marcar' }}
        </div>
    </button>
    <button matButton [mat-dialog-close]="false">Fechar</button>
</mat-dialog-actions>
