<h2 mat-dialog-title>Retornar solicitação</h2>
<form [formGroup]="undoPatientRequestForm" (ngSubmit)="onUndoPatientRequestSubmit()">
    <mat-dialog-content>
        <div class="line" style="grid-template-columns: 1fr;">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Para</mat-label>
                <mat-select formControlName="to">
                    <mat-option value="owner">{{data.patient_request.owner_professional.name}}</mat-option>
                    <mat-option value="medical">{{data.patient_request.medical_professional.name}}</mat-option>
                    <mat-option value="social">{{data.patient_request.social_professional.name}}</mat-option>
                </mat-select>
                @for (item of errorMessages['to']; track $index) {
                    <mat-error *ngIf="undoPatientRequestForm.get('to')?.hasError(item.type)">{{item.message}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Motivo</mat-label>
                <textarea matInput rows="4" formControlName="reason"></textarea>
                @for (item of errorMessages['reason']; track $index) {
                    <mat-error *ngIf="undoPatientRequestForm.get('reason')?.hasError(item.type)">{{item.message}}</mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button matButton="filled" type="submit" [disabled]="undoPatientRequestForm.invalid || wSubmit()">
        <div class="waiting">
            @if (wSubmit()) {
                <mat-spinner matPrefix [diameter]="20"></mat-spinner>
            }
            Retornar
        </div>
      </button>
      <button matButton [mat-dialog-close]="false">Fechar</button>
    </mat-dialog-actions>
</form>
