<h2 mat-dialog-title>Arquivar paciente</h2>
<mat-dialog-content>Você deseja arquivar o paciente?</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="filled" [disabled]="wSubmit()" (click)="onArchivePatientSubmit()">
        <div class="waiting">
            @if (wSubmit()) {
                <mat-spinner matPrefix [diameter]="20"></mat-spinner>
            }
            Arquivar
        </div>
    </button>
    <button matButton [mat-dialog-close]="false">Fechar</button>
</mat-dialog-actions>
