<mat-card appearance="raised">
  <mat-card-header>
    <mat-card-title>Custos de Diárias</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    @if (isLoading()) {
      <div class="loading-container">
        <mat-progress-spinner mode="indeterminate" [diameter]="48"></mat-progress-spinner>
      </div>
    } @else {
      <mat-list>
        @for (item of dailiesCost(); track item.id) {
          <mat-list-item>
            @if (item.overnight) {
              <mat-icon matListItemIcon matTooltip="Pernoite">dark_mode</mat-icon>
            } @else {
              <mat-icon matListItemIcon matTooltip="Diurna">wb_sunny</mat-icon>
            }
            
            <div matListItemTitle>
              {{ item.name }} - <strong>{{ item.value | currency: 'BRL' }}</strong>
            </div>
            
            <div matListItemMeta>
              <button mat-icon-button matTooltip="Atualizar valor da diária" (click)="updateDailyCost(item)">
                <mat-icon>drive_file_rename_outline</mat-icon>
              </button>
            </div>
          </mat-list-item>
        } @empty {
          <div class="empty-container">
            <mat-icon>payments</mat-icon>
            <p>Nenhum custo de diária cadastrado ou encontrado.</p>
          </div>
        }
      </mat-list>
    }
  </mat-card-content>
</mat-card>