<h2 mat-dialog-title>
  {{ data?.patient_request?.is_accountability_bookmark ? 'Desmarcar sobrestado' : 'Marcar sobrestado' }}
</h2>

<mat-dialog-content>
  Você deseja {{ data?.patient_request?.is_accountability_bookmark ? 'desmarcar' : 'marcar' }} em sobrestado a solicitação do paciente <strong>{{ data?.patient_request?.report?.patient_care?.patient?.name }}</strong>?
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton [mat-dialog-close]="false">Fechar</button>
  
  <button matButton="filled" [disabled]="isSubmitting()" (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner matPrefix [diameter]="20"></mat-spinner>
      }
      {{ data?.patient_request?.is_accountability_bookmark ? 'Desmarcar' : 'Marcar' }}
    </div>
  </button>
</mat-dialog-actions>