@use 'variables' as *;

:host {
  display: block;
  width: 100%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-form-gap;
  padding-top: $spacing-form-gap;
}

// Grid estrutural para linhas do formulário
.line {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $spacing-xl;
}