<h2 mat-dialog-title>Tramitar solicitação</h2>
<form [formGroup]="processPatientRequestForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <div class="line" style="grid-template-columns: 1fr;">
            <mat-form-field appearance="outline">
                <mat-label>Assistente Social</mat-label>
                <input matInput type="text" [formControl]="socialProfessionalControl" [matAutocomplete]="socialProfessional" [readonly]="socialProfessionalReadOnly()">
                @if (socialProfessionalLoading()) {
                    <mat-spinner matSuffix [diameter]="30" style="margin-right: 10px;"></mat-spinner>
                }
                <mat-autocomplete #socialProfessional="matAutocomplete" [displayWith]="displaySocialProfessional" (optionSelected)="onSocialProfessionalSelected($event.option.value)">
                @for (option of filteredSocialProfessionalOptions | async; track option) {
                    <mat-option [value]="option">
                        <mat-chip style="margin-right: 20px;">{{option.patient_social_requests_count}}</mat-chip>
                        <span>{{option.name}}</span>
                    </mat-option>
                }
                </mat-autocomplete>
                @for (item of errorMessages['social_professional']; track $index) {
                    <mat-error *ngIf="socialProfessionalControl.hasError(item.type)">{{item.message}}</mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="filled" type="submit" [disabled]="processPatientRequestForm.invalid || wSubmit()">
            <div class="waiting">
                @if (wSubmit()) {
                    <mat-spinner matPrefix [diameter]="20"></mat-spinner>
                }
                Tramitar
            </div>
        </button>
        <button matButton [mat-dialog-close]="false">Fechar</button>
    </mat-dialog-actions>
</form>
