mat-drawer-container {
    width: 100%; 
    z-index: 10;
}

mat-drawer {
    background-color: rgb(230,230,230); 
    position: fixed; 
    margin-top: 80px; 
    width: 300px;
}

mat-action-list {
    width: 100%;
}

mat-action-list button div.link {
    display: flex; 
    align-items: center;
}

mat-action-list button div.link mat-icon {
    margin-right: 10px;
}