<h2 mat-dialog-title>Alterar valor da diária</h2>

<form [formGroup]="dailyCostForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <div class="line">
      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input 
          matInput 
          type="text" 
          placeholder="R$ 0,00" 
          mask="separator.2" 
          prefix="R$ " 
          thousandSeparator="." 
          decimalMarker="," 
          [dropSpecialCharacters]="true" 
          formControlName="value"
        >
        @for (item of errorMessages['value']; track item.type) {
          <mat-error [hidden]="!dailyCostForm.get('value')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>

  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="false" [disabled]="isSubmitting()">
      Fechar
    </button>
    
    <button 
      mat-flat-button 
      color="primary" 
      type="submit" 
      [disabled]="dailyCostForm.invalid || dailyCostForm.pending || dailyCostForm.pristine || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner [diameter]="20"></mat-spinner>
        }
        <span>{{ isSubmitting() ? 'Alterando...' : 'Confirmar Alteração' }}</span>
      </div>
    </button>
  </mat-dialog-actions>
</form>