<h2 mat-dialog-title>Retornar solicitação</h2>

<form [formGroup]="tramitPatientRequestForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <div class="line" style="grid-template-columns: 1fr;">
      
      <mat-form-field appearance="outline">
        <mat-label>Para</mat-label>
        <mat-select formControlName="to">
          <mat-option value="owner">{{ data?.patient_request?.owner_professional?.name }}</mat-option>
          @if (data?.type === 'social') {
            <mat-option value="medical">{{ data?.patient_request?.medical_professional?.name }}</mat-option>
          }
        </mat-select>
        
        @for (item of errorMessages['to']; track $index) {
          <mat-error [hidden]="!tramitPatientRequestForm.get('to')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Motivo</mat-label>
        <textarea matInput rows="4" formControlName="reason" [readonly]="isSubmitting()"></textarea>
        
        @for (item of errorMessages['reason']; track $index) {
          <mat-error [hidden]="!tramitPatientRequestForm.get('reason')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Fechar</button>
    <button 
      mat-flat-button
      color="primary"
      type="submit" 
      [disabled]="tramitPatientRequestForm.invalid || tramitPatientRequestForm.pending || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner matPrefix [diameter]="20"></mat-spinner>
        }
        Retornar
      </div>
    </button>
  </mat-dialog-actions>
</form>