<h2 mat-dialog-title>Deletar Regra</h2>

<mat-dialog-content>
  <p>
    Tem certeza de que deseja deletar a regra <strong>{{ data.role.name?.split('/').pop() || data.role.name }}</strong>?
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton [disabled]="isSubmitting()" [mat-dialog-close]="false">Fechar</button>
  <button matButton="filled" (click)="onSubmit()" [disabled]="isSubmitting()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-progress-spinner mode="indeterminate" [diameter]="20"></mat-progress-spinner>
      }
      Deletar
    </div>
  </button>
</mat-dialog-actions>