<h2 mat-dialog-title>Alterar valor da diária</h2>
<form [formGroup]="updateDailyCostForm" (ngSubmit)="onUpdateDailyCostSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput type="text" placeholder="R$ 0,00" mask="separator.2" prefix="R$ " thousandSeparator="." decimalMarker="," [dropSpecialCharacters]="true" formControlName="value">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="filled" type="submit" [disabled]="updateDailyCostForm.invalid || updateDailyCostForm.pristine || wSubmit()">
            <div class="waiting">
                @if (wSubmit()) {
                    <mat-spinner matPrefix [diameter]="20"></mat-spinner>
                }
                Alterar
            </div>
        </button>
        <button matButton [mat-dialog-close]="false">Fechar</button>
    </mat-dialog-actions>
</form>
