mat-form-field {
  width: 100%;
  height: auto;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px; // Garante que o outline do primeiro input não fique cortado no topo do modal
}

.waiting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  mat-spinner {
    display: inline-block;
    flex-shrink: 0;
  }
}

.line {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}