<h2 mat-dialog-title>Novo paciente</h2>
<mat-dialog-content>
    <mat-stepper #stepper>
        <mat-step [stepControl]="createPatientIdentificationForm">
            <ng-template matStepLabel>Dados de identificação</ng-template>
            <form [formGroup]="createPatientIdentificationForm">
                <div class="stepper">
                    <div class="line" style="grid-template-columns: 1fr 3fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>CNS</mat-label>
                            <input matInput type="text" mask="000 0000 0000 0000" formControlName="cns">
                            @for (item of errorMessages['cns']; track $index) {
                                <mat-error *ngIf="createPatientIdentificationForm.get('cns')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <div style="display: flex;">
                            <input type="file" class="file-input" (change)="onFileCNSSelected($event)" #fileCNS style="display: none;">
                            <button matFab extended (click)="fileCNS.click()" [matTooltip]="labelFileCNS()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar CNS
                            </button>
                        </div>
                    </div>
                    <div class="line" style="grid-template-columns: 1.5fr 2fr 1.5fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de documento</mat-label>
                            <mat-select formControlName="document_type">
                                <mat-option value="CPF">CPF</mat-option>
                                <mat-option value="Certidão de nascimento">Certidão de nascimento</mat-option>
                            </mat-select>
                            @for (item of errorMessages['document_type']; track $index) {
                                <mat-error *ngIf="createPatientIdentificationForm.get('document_type')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Documento</mat-label>
                            <input matInput type="text" [mask]="createPatientIdentificationForm.get('document_type')?.value === 'CPF' ? '000.000.000-00' : '000000 00 00 0000 0 00000 000 0000000 00'" formControlName="document">
                            @for (item of errorMessages['document']; track $index) {
                                <mat-error *ngIf="createPatientIdentificationForm.get('document')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <div style="display: flex;">
                            <input type="file" class="file-input" (change)="onFileDocumentSelected($event)" #fileDocument style="display: none;">
                            <button matFab extended (click)="fileDocument.click()" [matTooltip]="labelFileDocument()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar documento
                            </button>
                        </div>
                    </div>
                    <div class="line" style="grid-template-columns: 1fr 3fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Sigadoc</mat-label>
                            <input matInput type="text" placeholder="SES-PRO-0000/00000" formControlName="sigadoc">
                            @for (item of errorMessages['sigadoc']; track $index) {
                                <mat-error *ngIf="createPatientIdentificationForm.get('sigadoc')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="createPatientPersonalForm">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <form [formGroup]="createPatientPersonalForm">
                <div class="stepper">
                    <div class="line" style="grid-template-columns: 2fr 1fr 1fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" formControlName="name">
                            @for (item of errorMessages['name']; track $index) {
                                <mat-error *ngIf="createPatientPersonalForm.get('name')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Data de nascimento</mat-label>
                            <input matInput [matDatepicker]="picker" type="text" mask="00/00/0000" (dateChange)="setBirthDate($event)" [required]="true">
                            @for (item of errorMessages['birth_date']; track $index) {
                                <mat-error *ngIf="createPatientPersonalForm.get('birth_date')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Estado civil</mat-label>
                            <mat-select formControlName="marital_status">
                                @for (item of marital_status; track $index) {
                                    <mat-option [value]="item">{{item}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="line" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Raça</mat-label>
                            <mat-select formControlName="race" (selectionChange)="onSelection($event)">
                                @for (item of races; track $index) {
                                    <mat-option [value]="item">{{item}}</mat-option>
                                }
                            </mat-select>
                            @for (item of errorMessages['race']; track $index) {
                                <mat-error *ngIf="createPatientPersonalForm.get('race')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Etinia</mat-label>
                            <mat-select formControlName="ethnicity">
                                @for (item of ethnicities; track $index) {
                                    <mat-option [value]="item">{{item}}</mat-option>
                                }
                            </mat-select>
                            @for (item of errorMessages['race']; track $index) {
                                <mat-error *ngIf="createPatientPersonalForm.get('race')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Naturalidade</mat-label>
                            <input type="text" matInput [formControl]="naturalnessControl" [matAutocomplete]="naturalness" [readonly]="naturalnessReadOnly()">
                            @if (naturalnessLoading()) {
                                <mat-spinner matSuffix [diameter]="30" style="margin-right: 10px;"></mat-spinner>
                            }
                            <mat-autocomplete #naturalness="matAutocomplete" [displayWith]="displayNaturalness" (optionSelected)="onNaturalnessSelected($event.option.value)">
                            @for (option of filteredNaturalnessOptions | async; track $index) {
                                <mat-option [value]="option">{{option}}</mat-option>
                            }
                            </mat-autocomplete>
                            @for (item of errorMessages['naturalness']; track $index) {
                                <mat-error *ngIf="naturalnessControl.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gênero</mat-label>
                            <mat-select formControlName="gender">
                                @for (item of genders; track $index) {
                                    <mat-option [value]="item">{{item}}</mat-option>
                                }
                            </mat-select>
                            @for (item of errorMessages['gender']; track $index) {
                                <mat-error *ngIf="createPatientPersonalForm.get('gender')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        
                    </div>
                    <div class="line" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
                        
                        <mat-form-field appearance="outline">
                            <mat-label>Profissão</mat-label>
                            <input type="text"
                                matInput
                                formControlName="profession"
                                [matAutocomplete]="profession">
                            <mat-autocomplete autoActiveFirstOption #profession="matAutocomplete">
                            @for (option of filteredProfessionsOptions | async; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                            }
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Telefone</mat-label>
                            <input matInput mask="(00) 0000-0000" type="text" formControlName="phone">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Celular</mat-label>
                            <input matInput mask="(00) 00000-0000" type="text" formControlName="cell_phone">
                        </mat-form-field>
                    </div>
                    <div class="line" style="grid-template-columns: 2fr 2fr 1fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Nome da mãe</mat-label>
                            <input matInput type="text" formControlName="mother_name">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Nome do pai</mat-label>
                            <input matInput type="text" formControlName="father_name">
                        </mat-form-field>
                        <div class="toggle">
                            <mat-slide-toggle formControlName="newborn"><span>Recém nascido</span></mat-slide-toggle>
                        </div>
                    </div>
                    <div class="line" style="grid-template-columns: 1fr 3fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Deficiência</mat-label>
                            <mat-select formControlName="deficiency">
                                @for (item of deficiencies; track $index) {
                                    <mat-option [value]="item">{{item}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <div style="display: flex;">
                            <input type="file" class="file-input" (change)="onFileDeficiencySelected($event)" #fileDeficiency style="display: none;">
                            <button matFab extended (click)="fileDeficiency.click()" [matTooltip]="labelFileDeficiency()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar laudo
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="createPatientAddressForm">
            <ng-template matStepLabel>Dados de endereço</ng-template>
            <form [formGroup]="createPatientAddressForm">
                <div class="stepper">
                    <div class="line" style="grid-template-columns: 1fr 3fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>CEP</mat-label>
                            <input matInput type="text" mask="00000-000" formControlName="cep" (keyup)="getAddress()">
                            @for (item of errorMessages['cep']; track $index) {
                                <mat-error *ngIf="createPatientAddressForm.get('cep')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <div style="display: flex;">
                            <input type="file" class="file-input" (change)="onFileAddressSelected($event)" #fileAddress style="display: none;">
                            <button matFab extended (click)="fileAddress.click()" [matTooltip]="labelFileAddress()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar comprovante de endereço
                            </button>
                        </div>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>Endereço</mat-label>
                        <input matInput type="text" formControlName="address">
                        @for (item of errorMessages['address']; track $index) {
                            <mat-error *ngIf="createPatientAddressForm.get('address')?.hasError(item.type)">{{item.message}}</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Complemento</mat-label>
                        <input matInput type="text" formControlName="complement">
                    </mat-form-field>
                    <div class="line" style="grid-template-columns: 1fr 1fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Número</mat-label>
                            <input matInput type="text" formControlName="number">
                            @for (item of errorMessages['number']; track $index) {
                                <mat-error *ngIf="createPatientAddressForm.get('number')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Bairro</mat-label>
                            <input matInput type="text" formControlName="neighborhood">
                            @for (item of errorMessages['neighborhood']; track $index) {
                                <mat-error *ngIf="createPatientAddressForm.get('neighborhood')?.hasError(item.type)">{{item.message}}</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="line" style="grid-template-columns: 1fr 1fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Cidade</mat-label>
                            <input matInput type="text" formControlName="city">
                        </mat-form-field>
                        <mat-form-field appearance="outline" style="width: 20%;">
                            <mat-label>UF</mat-label>
                            <input type="text"
                                matInput
                                formControlName="state"
                                [matAutocomplete]="state">
                            <mat-autocomplete autoActiveFirstOption #state="matAutocomplete">
                            @for (option of filteredUfsOptions | async; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                            }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="createPatientInfoForm">
            <ng-template matStepLabel>Dados adicionais</ng-template>
            <form [formGroup]="createPatientInfoForm">
                <div class="stepper">
                    <div class="line" style="grid-template-columns: 1fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Observação</mat-label>
                            <input matInput type="text" formControlName="observation">
                        </mat-form-field>
                    </div>
                    <div class="line" style="grid-template-columns: 1fr 3fr;">
                        <mat-form-field appearance="outline">
                            <mat-label>Número de controle</mat-label>
                            <input matInput type="text" formControlName="control_number">
                        </mat-form-field>
                        <div style="display: flex;">
                            <input type="file" class="file-input" (change)="onFileProtocolSelected($event)" #fileProtocol style="display: none;">
                            <button matFab extended (click)="fileProtocol.click()" [matTooltip]="labelFileProtocol()">
                                <mat-icon>attach_file</mat-icon>
                                Anexar protocolo municipal
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton="filled" type="button"[disabled]="createPatientIdentificationForm.invalid || createPatientPersonalForm.invalid || createPatientAddressForm.invalid || wSubmit()" (click)="onCreatePatientSubmit()">
        <div class="waiting">
            @if (wSubmit()) {
                <mat-spinner matPrefix [diameter]="20"></mat-spinner>
            }
            Criar
        </div>
    </button>
    <button matButton [mat-dialog-close]="false">Fechar</button>
</mat-dialog-actions>




