<h2 mat-dialog-title>
  @if (data?.type === 'medical') {
    {{ data?.patient_request?.is_medical_bookmark ? 'Desmarcar sobrestado' : 'Marcar sobrestado' }}
  } @else {
    {{ data?.patient_request?.is_social_bookmark ? 'Desmarcar sobrestado' : 'Marcar sobrestado' }}
  }
</h2>

<mat-dialog-content>
  Você deseja 
  @if (data?.type === 'medical') {
    <strong>{{ data?.patient_request?.is_medical_bookmark ? 'desmarcar' : 'marcar' }}</strong>
  } @else {
    <strong>{{ data?.patient_request?.is_social_bookmark ? 'desmarcar' : 'marcar' }}</strong>
  }
  em sobrestado a solicitação do paciente <strong>{{ data?.patient_request?.name }}</strong>?
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton [mat-dialog-close]="false">Fechar</button>
  
  <button matButton="filled" [disabled]="isSubmitting()" (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner matPrefix [diameter]="20"></mat-spinner>
      }
      
      @if (data?.type === 'medical') {
        {{ data?.patient_request?.is_medical_bookmark ? 'Desmarcar' : 'Marcar' }}
      } @else {
        {{ data?.patient_request?.is_social_bookmark ? 'Desmarcar' : 'Marcar' }}
      }
    </div>
  </button>
</mat-dialog-actions>