<h2 mat-dialog-title>Detalhes do parecer</h2>

<mat-dialog-content>
  <div class="user-details-container">

    <mat-card variant="outlined" class="detail-card">
      <mat-card-header>
        <mat-card-title>Informações do parecer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="line" style="grid-template-columns: 1fr;">
          <div>
            <strong>Nome:</strong> {{ data?.opinion?.name }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card variant="outlined" class="detail-card">
      <mat-card-header>
        <mat-card-title>Conteúdo do parecer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="line" style="grid-template-columns: 1fr;">
          <div [innerHTML]="sanitizedHtml()"></div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Fechar</button>
</mat-dialog-actions>