<h2 mat-dialog-title>Atualizar arquivo</h2>

<form [formGroup]="updateAttachmentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <div class="line" style="grid-template-columns: 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name">
        
        @for (item of errorMessages['name']; track $index) {
          <mat-error [hidden]="!updateAttachmentForm.get('name')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>

      <div style="display: flex; gap: 12px;">
        <button 
          matFab 
          type="button" 
          [disabled]="!data?.report_attachment?.archive_id || isDownloading()" 
          (click)="download(data.report_attachment.archive_id, data.report_attachment.name)"
          matTooltip="Baixar arquivo atual"
        >
          @if (isDownloading()) {
            <mat-spinner [diameter]="24"></mat-spinner>
          } @else {
            <mat-icon>download</mat-icon>
          }
        </button>

        <input type="file" class="file-input" (change)="onFileSelected($event)" #file style="display: none;">
        <button matFab extended type="button" (click)="file.click()" [matTooltip]="fileLabel()">
          <mat-icon>attach_file</mat-icon>
          Substituir arquivo
        </button>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button matButton [mat-dialog-close]="false">Fechar</button>
    <button 
      matButton="filled" 
      type="submit" 
      [disabled]="updateAttachmentForm.invalid || isSubmitting() || isDownloading()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner matPrefix [diameter]="20"></mat-spinner>
        }
        Atualizar
      </div>
    </button>
  </mat-dialog-actions>
</form>