<h2 mat-dialog-title>Atualizar anexo do laudo</h2>

<form [formGroup]="attachmentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="stepper">
      
      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name">
          
          @for (item of errorMessages['name']; track item.type) {
            <mat-error [hidden]="!attachmentForm.get('name')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="line cols-1-col">
        <div class="file-actions-cell">
          
          <button 
            class="btn-archive" 
            type="button" 
            mat-icon-button 
            [disabled]="!data?.report_attachment?.archive_id" 
            (click)="download(data.report_attachment.archive_id, data.report_attachment.name)"
            matTooltip="Baixar arquivo atual"
          >
            <mat-icon>download</mat-icon>
          </button>

          <input 
            type="file" 
            hidden 
            (change)="onFileSelected($event)" 
            #file
          >

          <button 
            mat-raised-button
            type="button" 
            (click)="file.click()" 
            [matTooltip]="fileLabel()"
          >
            <mat-icon>attach_file</mat-icon>
            Anexar arquivo
          </button>
          
        </div>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="isSubmitting()" [mat-dialog-close]="false">
      Cancelar
    </button>
    
    <button 
      mat-flat-button 
      color="primary" 
      type="submit" 
      [disabled]="attachmentForm.invalid || attachmentForm.pending || isFormsPristine() || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner [diameter]="20"></mat-spinner>
        }
        <span>{{ isSubmitting() ? 'Salvando...' : 'Salvar alterações' }}</span>
      </div>
    </button>
  </mat-dialog-actions>
</form>