<h2 mat-dialog-title>Atualizar solicitação</h2>

<form [formGroup]="updatePatientRequestForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    
    <div class="line" style="grid-template-columns: 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>Paciente</mat-label>
        <input 
          type="text" 
          matInput 
          [formControl]="patientControl" 
          [matAutocomplete]="patient" 
          [readonly]="patientReadOnly()"
        >
        
        @if (patientLoading()) {
          <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
        }

        <mat-autocomplete #patient="matAutocomplete" [displayWith]="displayPatient">
          @for (option of filteredPatientOptions | async; track option.id) {
            <mat-option [value]="option" (onSelectionChange)="onPatientSelected(option)">
              {{ option.name }}
            </mat-option>
          }
        </mat-autocomplete>

        @for (item of errorMessages['patient_control']; track $index) {
          <mat-error [hidden]="!patientControl.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="line" style="grid-template-columns: 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>CID</mat-label>
        <input 
          type="text" 
          matInput 
          [formControl]="cidControl" 
          [matAutocomplete]="cid" 
          [readonly]="cidReadOnly()"
        >
        
        @if (cidLoading()) {
          <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
        }

        <mat-autocomplete #cid="matAutocomplete" [displayWith]="displayCid">
          @for (option of filteredCidOptions | async; track option.id) {
            <mat-option [value]="option" (onSelectionChange)="onCidSelected(option)">
              {{ option.code }} - {{ option.name }}
            </mat-option>
          }
        </mat-autocomplete>

        @for (item of errorMessages['cid_control']; track $index) {
          <mat-error [hidden]="!cidControl.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="line" style="grid-template-columns: 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>Unidade hospitalar</mat-label>
        <input 
          type="text"
          matInput 
          [formControl]="hospitalUnitiesControl"
          [matAutocomplete]="hospitalUnities" 
          [readonly]="hospitalUnitiesReadOnly()"
        >
        
        @if (hospitalUnitiesLoading()) {
          <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
        }

        <mat-autocomplete #hospitalUnities="matAutocomplete" [displayWith]="displayHospitalUnity">
          @for (option of filteredHospitalUnitiesOptions | async; track option.id) {
            <mat-option [value]="option" (onSelectionChange)="onHospitalUnitySelected(option)">
              {{ option.name }}
            </mat-option>
          }
        </mat-autocomplete>

        @for (item of errorMessages['hospital_control']; track $index) {
          <mat-error [hidden]="!hospitalUnitiesControl.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="line" style="grid-template-columns: 1fr 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type" (selectionChange)="onTypeSelectionChange($event)">
          @for (item of types; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
        
        @for (item of errorMessages['type']; track $index) {
          <mat-error [hidden]="!updatePatientRequestForm.get('type')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data da próxima consulta</mat-label>
        <input matInput [matDatepicker]="pickerConsulta" formControlName="consultation_date">
        <mat-datepicker-toggle matIconSuffix [for]="pickerConsulta"></mat-datepicker-toggle>
        <mat-datepicker #pickerConsulta></mat-datepicker>
        
        @for (item of errorMessages['consultation_date']; track $index) {
          <mat-error [hidden]="!updatePatientRequestForm.get('consultation_date')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="line" style="grid-template-columns: 1fr;">
      <mat-form-field appearance="outline">
        <mat-label>Observação</mat-label>
        <textarea matInput rows="4" formControlName="observation"></textarea>
        
        @for (item of errorMessages['observation']; track $index) {
          <mat-error [hidden]="!updatePatientRequestForm.get('observation')?.hasError(item.type)">
            {{ item.message }}
          </mat-error>
        }
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button matButton [mat-dialog-close]="false">Fechar</button>
    <button 
      matButton="filled" 
      type="submit" 
      [disabled]="updatePatientRequestForm.invalid || patientControl.invalid || cidControl.invalid || hospitalUnitiesControl.invalid || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner matPrefix [diameter]="20"></mat-spinner>
        }
        Atualizar
      </div>
    </button>
  </mat-dialog-actions>
</form>