<h2 mat-dialog-title>Ajudas de custo</h2>
<mat-dialog-content>
    @if (isLoading()) {
        <div class="loading-container">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    } @else {
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                <td mat-footer-cell *matFooterCellDef><strong>Saldo</strong></td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                <td mat-footer-cell *matFooterCellDef><strong>{{totalValue() | currency}}</strong></td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Criada em </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd/MM/y'}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="dailies">
                <th mat-header-cell *matHeaderCellDef> Diárias</th>
                <td mat-cell *matCellDef="let element"> {{element.total_dailies | currency}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="center" style="width: 20%;"> Ações </th>
                <td mat-cell *matCellDef="let element" class="center">
                    <div>
                        <button matIconButton matTooltip="Visualizar ajuda de custo" (click)="showCostAssistance(element)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button matIconButton matTooltip="Diárias" (click)="costAssistanceDailies(element)">
                            <mat-icon>hotel</mat-icon>
                        </button>
                        <button matIconButton matTooltip="Atualizar ajuda de custo" (click)="updateCostAssistance(element)">
                            <mat-icon>drive_file_rename_outline</mat-icon>
                        </button>
                        <button matIconButton matTooltip="Deletar ajuda de custo" (click)="deleteCostAssistance(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell center" colspan="6" class="center">Nenhuma ajuda de custo cadastrada</td>
            </tr>
        </table>
    }
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton="filled" (click)="createCostAssistance()" [disabled]="totalValue() > 2000">Nova ajuda de custo</button>
  <button matButton [mat-dialog-close]="false">Fechar</button>
</mat-dialog-actions>

