mat-dialog-content {
    padding-top: 10px;
}

mat-form-field {
    width: 100%;
}

.toggle {
    padding-top: 10px;
}

.toggle span {
    margin-left: 10px;
}

.waiting {
    display: flex;
    align-items: center;
    gap: 10px;
}