
<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="push" position="end" style="height: 100vh !important; position: fixed !important;">
    <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; height: 100vh; background-color: rgb(240,240,240);">
      <div style="width: 100%; height: 100px; background-color: rgb(200,200,200);"></div>
      <div style="width: 100%; display: flex; flex-direction: column; gap: 10px; padding-bottom: 10px; align-items: center; margin-top: -75px;">
        @if (user.picture) {
          <div [style]="'width: 150px; height: 150px;  background-image: url('+user.picture+'); background-size: contain; background-repeat: no-repeat; border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; display: flex; justify-content: flex-end; align-items: flex-end;'">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload style="display: none;">
            <button mat-mini-fab color="primary" (click)="fileUpload.click()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        } @else {
          <div style="width: 150px; height: 150px; background-image: url(https://ionicframework.com/docs/img/demos/avatar.svg); background-size: contain; background-repeat: no-repeat; border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; display: flex; justify-content: flex-end; align-items: flex-end;">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload style="display: none;">
            <button mat-mini-fab color="primary" (click)="fileUpload.click()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        }
        <span style="font-size: 18px;">{{user.name}}</span>
        <span style="font-size: 14px;">{{user.email}}</span>
      </div>
      <mat-list style="width: 90%;">
        <div mat-subheader>Webponto</div>
        <mat-list-item>
          <mat-icon matListItemIcon color="success">check_circle</mat-icon>
          <div matListItemTitle>Entrada da manhã</div>
          <div matListItemLine>7:30</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon color="warn">warning</mat-icon>
          <div matListItemTitle>Saída da manhã</div>
          <div matListItemLine>Não registrada</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon color="warn">warning</mat-icon>
          <div matListItemTitle>Entrada da tarde</div>
          <div matListItemLine>Não registrada</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon color="warn">warning</mat-icon>
          <div matListItemTitle>Saída da tarde</div>
          <div matListItemLine>Não registrada</div>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-action-list style="width: 100%;">
        <div mat-subheader>Sistema</div>
        <button mat-list-item (click)="openChangeModuleBox(); drawer.toggle()">
          <div style="display: flex; align-items: center;">
            <mat-icon style="margin-right: 10px;">app_registration</mat-icon>
            <div>Selecionar módulo</div>
          </div>
        </button>
        <button mat-list-item (click)="openAboutBox(); drawer.toggle()">
          <div style="display: flex; align-items: center;">
            <mat-icon style="margin-right: 10px;">info</mat-icon>
            <div>Sobre</div>
          </div>
        </button>
        <button mat-list-item (click)="logout()">
          <div style="display: flex; align-items: center;">
            <mat-icon style="margin-right: 10px;">logout</mat-icon>
            <div>Sair</div>
          </div>
        </button>
      </mat-action-list>
      <div style="display: flex; justify-content: center;">
        <img src="assets/img/logo-mt.png" style="margin-top: 30px; width: 50%; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;">
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="display: flex; justify-content: space-between; align-items: center; position: fixed; z-index: 100;">
      <div style="display: flex; justify-content: space-between;  align-items: center; width: 150px;">
        <button mat-icon-button [routerLink]="['home']">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['dashboard']">
          <mat-icon>bar_chart</mat-icon>
        </button>
        @if (module) {
          <button mat-mini-fab [routerLink]="['module/'+module.name]" [disabled]="moduleStatus">
            <mat-icon>web_asset</mat-icon>
          </button>
        } @else {
          <button mat-icon-button disabled>
            <mat-icon>web_asset_off</mat-icon>
          </button>
        }
      </div>
      <div style="display: flex; justify-content: space-between; width: 150px;">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #menu="matMenu" style="width: 300px !important;">
          <mat-list>
            @for (item of flash_notifications; track $index) {
              <mat-list-item>
                <div style="display: flex; align-items: center;">
                  <mat-icon style="margin-right: 20px;">notifications</mat-icon>
                  <div style="display: flex; flex-direction: column;">
                    <span>{{ item.data.title }}</span>
                    <span style="font-size: 12px; color: gray;">{{ item.data.message }}</span>
                  </div>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
            } @empty {
              <div style="width: 100%; margin-top: 20px; display: flex; flex-direction: column; align-items: center;">
                <mat-icon style="font-size: 100px; width: 100px;  height: 100px; display: flex; justify-content: center;">notifications_off</mat-icon>
                <h3>Nenhuma notificação!</h3>
              </div>
            }
          </mat-list>
          <div style="display: flex; justify-content: center; align-items: center;">
            <button mat-button [routerLink]="['notifications']" disabled>Ver todas as notificações</button>
          </div>
        </mat-menu>
        <button mat-icon-button [routerLink]="['messages']" disabled>
          <mat-icon>forum</mat-icon>
        </button>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div style="min-height: calc(100vh - 64px); width: 100%; margin-top: 64px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



