<h2 mat-dialog-title>Novo arquivo</h2>

<form [formGroup]="attachmentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="stepper">
      
      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name">
          
          @for (item of errorMessages['name']; track item.type) {
            <mat-error [hidden]="!attachmentForm.get('name')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="line cols-1-col">
        <div class="upload-container">
          <input 
            type="file" 
            class="file-input" 
            (change)="onFileSelected($event)" 
            #file 
            style="display: none;"
          >
          <button 
            mat-raised-button
            color="primary"
            type="button" 
            (click)="file.click()" 
            [matTooltip]="fileLabel()"
          >
            <mat-icon>attach_file</mat-icon>
            {{ hasFile() ? 'Substituir arquivo' : 'Anexar arquivo' }}
          </button>

        </div>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="isSubmitting()" [mat-dialog-close]="false">
      Cancelar
    </button>
    
    <button 
      mat-flat-button 
      color="primary" 
      type="submit" 
      [disabled]="attachmentForm.invalid || !hasFile() || attachmentForm.pending || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner [diameter]="20"></mat-spinner>
        }
        <span>{{ isSubmitting() ? 'Criando...' : 'Criar' }}</span>
      </div>
    </button>
  </mat-dialog-actions>
</form>