<h2 mat-dialog-title>
  {{ data.user.module.pivot.is_valid ? 'Invalidar usuário' : 'Validar usuário' }}
</h2>

<mat-dialog-content>
  Você deseja {{ data.user.module.pivot.is_valid ? 'invalidar' : 'validar' }} o usuário <strong>{{ data.user.name }}</strong>?
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton [mat-dialog-close]="false">Fechar</button>
  <button matButton="filled" [disabled]="isSubmitting()" (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner matPrefix [diameter]="20"></mat-spinner>
      }
      {{ data.user.module.pivot.is_valid ? 'Invalidar' : 'Validar' }}
    </div>
  </button>
</mat-dialog-actions>