<h2 mat-dialog-title>Nova solicitação</h2>

<form [formGroup]="patientRequestForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="stepper">
      
      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Paciente</mat-label>
          <input 
            type="text" 
            matInput 
            [formControl]="patientControl" 
            [matAutocomplete]="patient" 
            [readonly]="patientReadOnly()"
          >
          
          @if (patientLoading()) {
            <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
          }

          <mat-autocomplete #patient="matAutocomplete" [displayWith]="displayPatient">
            @for (option of filteredPatientOptions | async; track option.id) {
              <mat-option [value]="option" (onSelectionChange)="onPatientSelected(option)">
                {{ option.name }}
              </mat-option>
            }
          </mat-autocomplete>

          @for (item of errorMessages['patient_control']; track item.type) {
            <mat-error [hidden]="!patientControl.hasError('required')">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>CID</mat-label>
          <input 
            type="text" 
            matInput 
            [formControl]="cidControl" 
            [matAutocomplete]="cid" 
            [readonly]="cidReadOnly()"
          >
          
          @if (cidLoading()) {
            <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
          }

          <mat-autocomplete #cid="matAutocomplete" [displayWith]="displayCid">
            @for (option of filteredCidOptions | async; track option.id) {
              <mat-option [value]="option" (onSelectionChange)="onCidSelected(option)">
                {{ option.code }} - {{ option.name }}
              </mat-option>
            }
          </mat-autocomplete>

          @for (item of errorMessages['cid_control']; track item.type) {
            <mat-error [hidden]="!cidControl.hasError('required')">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Unidade hospitalar</mat-label>
          <input 
            type="text"
            matInput 
            [formControl]="hospitalControl"
            [matAutocomplete]="hospitalUnities" 
            [readonly]="hospitalReadOnly()"
          >
          
          @if (hospitalLoading()) {
            <mat-spinner matSuffix [diameter]="25" style="margin-right: 10px;"></mat-spinner>
          }

          <mat-autocomplete #hospitalUnities="matAutocomplete" [displayWith]="displayHospitalUnity">
            @for (option of filteredHospitalOptions | async; track option.id) {
              <mat-option [value]="option" (onSelectionChange)="onHospitalUnitySelected(option)">
                {{ option.name }}
              </mat-option>
            }
          </mat-autocomplete>

          @for (item of errorMessages['hospital_control']; track item.type) {
            <mat-error [hidden]="!hospitalControl.hasError('required')">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="line cols-1-1">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Solicitação</mat-label>
          <mat-select formControlName="type">
            @for (item of types; track item) {
              <mat-option [value]="item">
                {{ item }}
              </mat-option>
            }
          </mat-select>
          
          @for (item of errorMessages['type']; track item.type) {
            <mat-error [hidden]="!patientRequestForm.get('type')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data do Agendamento</mat-label>
          <input 
            matInput 
            [matDatepicker]="picker" 
            formControlName="consultation_date"
            placeholder="DD/MM/AAAA"
            (keypress)="onlyNumbersAndSlashes($event)"
            (dateChange)="setConsultationDate($event)"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
          @for (item of errorMessages['consultation_date']; track item.type) {
            <mat-error [hidden]="!patientRequestForm.get('consultation_date')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Observação</mat-label>
          <textarea matInput rows="4" formControlName="observation"></textarea>
          
          @for (item of errorMessages['observation']; track item.type) {
            <mat-error [hidden]="!patientRequestForm.get('observation')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="false">Fechar</button>
    
    <button 
      mat-flat-button 
      color="primary" 
      type="submit" 
      [disabled]="patientRequestForm.invalid || patientControl.invalid || cidControl.invalid || hospitalControl.invalid || patientRequestForm.pending || isSubmitting()"
    >
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner [diameter]="20"></mat-spinner>
        }
        <span>{{ isSubmitting() ? 'Criando...' : 'Criar solicitação' }}</span>
      </div>
    </button>
  </mat-dialog-actions>
</form>