<h2 mat-dialog-title>Deletar solicitação</h2>

<mat-dialog-content>
  <p>
    Você tem certeza que deseja remover a solicitação do paciente 
    <strong>{{ data?.patient_request?.report?.patient_care?.patient?.name ?? 'Não informado' }}</strong>? 
    <br><span>Esta ação não poderá ser desfeita.</span>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [disabled]="isSubmitting()" [mat-dialog-close]="false">
    Cancelar
  </button>

  <button mat-flat-button color="warn" type="button" [disabled]="isSubmitting()" (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <span>{{ isSubmitting() ? 'Excluindo...' : 'Confirmar exclusão' }}</span>
    </div>
  </button>
</mat-dialog-actions>