@use 'variables' as *;

// Usando o seletor :host para definir o container principal da página
:host {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: $color-page-bg; // Um fundo levemente cinza destaca a tabela branca
}

section {
  margin-top: $spacing-xxl; // 24px
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl; // 20px
}