<section style="display: flex; justify-content: center; max-height: calc(100vh - 64px); height: calc(100vh - 64px);">
  <input type="file" name="sigtap" #sigtap style="display: none;" accept=".zip" (change)="onFileChange($event)" />
  <button mat-fab style="position: fixed; bottom: 50px; right: 50px;" (click)="selectSigtap()">
    <mat-icon>upload_2</mat-icon>
  </button>
  <div style="width: 80%; padding-top: 30px;">
    <mat-form-field style="width: 100%;">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" style="width: 100%;">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 95%;"> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name.slice(4, 6)}}/{{element.name.slice(0, 4)}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center;"> Ações </th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; justify-content: space-around;">
            <button mat-icon-button color="primary" matTooltip="Ver procedimentos" [routerLink]="['../procedures', element.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="2" style="text-align: center; padding: 10px 0;">Nenhum resultado encontrado</td>
      </tr>
    </table>
  </div>
</section>
