.login-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

form p {
    text-align: center;
}

mat-form-field {
    width: 100%;
}