<h2 mat-dialog-title>Deletar Laudo</h2>

<mat-dialog-content>
  <p>
    Você tem certeza que deseja remover o laudo com o protocolo <strong>{{ data?.report?.protocol }}</strong>? 
    <br><span>Esta ação não poderá ser desfeita.</span>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [disabled]="isSubmitting()" [mat-dialog-close]="false">
    Cancelar
  </button>

  <button mat-flat-button color="warn" type="button" [disabled]="isSubmitting()" (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <span>{{ isSubmitting() ? 'Excluindo...' : 'Confirmar Exclusão' }}</span>
    </div>
  </button>
</mat-dialog-actions>