<h2 mat-dialog-title>Nova regra</h2>
<form [formGroup]="createRoleForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        @if (isLoading()) {
            <div class="loading-container">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        } @else {
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="name">
                    @for (item of errorMessages['name']; track $index) {
                        <mat-error [hidden]="!createRoleForm.get('name')?.hasError(item.type)">
                            {{ item.message }}
                        </mat-error>
                    }
                </mat-form-field>
            </div>

            <section>
                <div class="title" style="margin-top: 0;">
                    <mat-icon>people</mat-icon>
                    <h2>Usuários</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('usuário'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{ item.name.split('/').pop() }}</mat-slide-toggle>
                        </div>
                    }
                </div>

                <div class="title">
                    <mat-icon>security</mat-icon>
                    <h2>Regras</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('regra'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{ item.name.split('/').pop() }}</mat-slide-toggle>
                        </div>
                    }
                </div>

                <div class="title">
                    <mat-icon>personal_injury</mat-icon>
                    <h2>Pacientes</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('paciente'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{ item.name.split('/').pop() }}</mat-slide-toggle>
                        </div>
                    }
                </div>
            </section>

            @for (item of errorMessages['permissions']; track $index) {
                <mat-error style="display: block; margin-top: 12px;" [hidden]="!createRoleForm.get('permissions')?.hasError(item.type)">
                    {{ item.message }}
                </mat-error>
            }
        }
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button matButton [mat-dialog-close]="false">Fechar</button>
        <button matButton="filled" type="submit" [disabled]="createRoleForm.invalid || createRoleForm.pending || isSubmitting()">
            <div class="waiting">
                @if (isSubmitting()) {
                    <mat-spinner matPrefix [diameter]="20"></mat-spinner>
                }
                Criar
            </div>
        </button>
    </mat-dialog-actions>
</form>