<h2 mat-dialog-title>Nova regra</h2>

<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    @if (isLoading()) {
      <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    } @else {
      <div class="line">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name">
          @for (item of errorMessages['name']; track $index) {
            <mat-error [hidden]="!roleForm.get('name')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <section class="cards-container">
        @for (group of permissionGroups; track group.label) {
          <mat-card appearance="outlined" class="permission-card">
            <mat-card-header>
              <div class="title">
                <mat-icon>{{ group.icon }}</mat-icon>
                <mat-card-title>{{ group.label }}</mat-card-title>
              </div>
            </mat-card-header>
            
            <mat-card-content>
              <div class="group-grid">
                @for (item of getFilteredRole(group.filter); track item.id) {
                  <div class="toggle-item">
                    <mat-slide-toggle (toggleChange)="togglePermission(item)">
                      {{ item.name.split('/').pop() }}
                    </mat-slide-toggle>
                  </div>
                }
              </div>
            </mat-card-content>
          </mat-card>
        }
      </section>

      @for (item of errorMessages['permissions']; track $index) {
        <mat-error class="permissions-error" [hidden]="!roleForm.get('permissions')?.hasError(item.type)">
          {{ item.message }}
        </mat-error>
      }
    }
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button type="button" [mat-dialog-close]="false">Fechar</button>
    
    <button mat-flat-button color="primary" type="submit" [disabled]="roleForm.invalid || roleForm.pending || isSubmitting()">
      <div class="waiting">
        @if (isSubmitting()) {
          <mat-spinner [diameter]="20"></mat-spinner>
        }
        Criar
      </div>
    </button>
  </mat-dialog-actions>
</form>