<h2 mat-dialog-title>Novo anexo do laudo</h2>

<mat-dialog-content>
  <form [formGroup]="attachmentForm">
    <div class="stepper">
      
      <!-- Linha 1: Nome do arquivo -->
      <div class="line cols-1-col">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name">
          
          @for (item of errorMessages['name']; track item.type) {
            <mat-error [hidden]="!attachmentForm.get('name')?.hasError(item.type)">
              {{ item.message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Linha 2: Seletor de Arquivo -->
      <div class="line cols-1-col">
        <div class="upload-container">
          <input 
            type="file" 
            class="file-input" 
            (change)="onFileSelected($event)" 
            #fileInput 
            hidden
          >
          <button 
            mat-raised-button
            color="primary"
            type="button" 
            (click)="fileInput.click()" 
            [matTooltip]="fileLabel()"
          >
            <mat-icon>attach_file</mat-icon>
            {{ hasFile() ? 'Substituir arquivo' : 'Anexar arquivo' }}
          </button>
        </div>
      </div>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" [disabled]="isSubmitting()" [mat-dialog-close]="false">
    Cancelar
  </button>
  
  <button 
    mat-flat-button 
    color="primary" 
    type="button" 
    [disabled]="attachmentForm.invalid || !hasFile() || attachmentForm.pending || isSubmitting()"
    (click)="onSubmit()"
  >
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <span>Criar</span>
    </div>
  </button>
</mat-dialog-actions>