:host {
  display: block;
  width: 100%;
}

mat-error[hidden] {
  display: none !important;
}

mat-form-field {
  width: 100%;
  height: auto;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px; // Espaçamento levemente maior para separar visualmente os dois autocompletes
  padding-top: 10px;
}

.line {
  display: grid;
  column-gap: 20px;
  align-items: start;
}

.waiting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  mat-spinner {
    display: inline-block;
    flex-shrink: 0;
  }
}

mat-option {
  mat-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.06);
  }
}