<h2 mat-dialog-title>Tramitar solicitação</h2>
<form [formGroup]="processPatientRequestForm" (ngSubmit)="onTramitPatientRequestSubmit()">
    <mat-dialog-content>
        <div class="line" style="grid-template-columns: 1fr;">
            <mat-form-field appearance="outline">
                <mat-label>Ajuda de custo</mat-label>
                <input matInput type="text" [formControl]="costAssistanceProfessionalControl" [matAutocomplete]="costAssistanceProfessional" [readonly]="costAssistanceProfessionalReadOnly()">
                @if (costAssistanceProfessionalLoading()) {
                    <mat-spinner matSuffix [diameter]="30" style="margin-right: 10px;"></mat-spinner>
                }
                <mat-autocomplete #costAssistanceProfessional="matAutocomplete" [displayWith]="displayCostAssistanceProfessional" (optionSelected)="onCostAssistanceProfessionalSelected($event.option.value)">
                @for (option of filteredCostAssistanceProfessionalOptions | async; track option) {
                    <mat-option [value]="option">
                        <mat-chip style="margin-right: 20px;">{{option.patient_cost_assistance_requests_count}}</mat-chip>
                        <span>{{option.name}}</span>
                    </mat-option>
                }
                </mat-autocomplete>
                @for (item of errorMessages['cost_assistance_professional']; track $index) {
                    <mat-error *ngIf="costAssistanceProfessionalControl.hasError(item.type)">{{item.message}}</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Passagem</mat-label>
                <input matInput [matAutocomplete]="travelProfessional" [formControl]="travelProfessionalControl" [readonly]="travelProfessionalReadOnly()">
                @if (travelProfessionalLoading()) {
                    <mat-spinner matSuffix [diameter]="30" style="margin-right: 10px;"></mat-spinner>
                }
                <mat-autocomplete #travelProfessional="matAutocomplete" [displayWith]="displayTravelProfessional" (optionSelected)="onTravelProfessionalSelected($event.option.value)">
                @for (option of filteredTravelProfessionalOptions | async; track option) {
                    <mat-option [value]="option">
                        <mat-chip style="margin-right: 20px;">{{option.patient_travel_requests_count}}</mat-chip>
                        <span>{{option.name}}</span>
                    </mat-option>
                }
                </mat-autocomplete>
                @for (item of errorMessages['travel_professional']; track $index) {
                    <mat-error *ngIf="travelProfessionalControl.hasError(item.type)">{{item.message}}</mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="filled" type="submit" [disabled]="processPatientRequestForm.invalid || processPatientRequestForm.pristine || costAssistanceProfessionalControl.invalid || wSubmit()">
            <div class="waiting">
                @if (wSubmit()) {
                    <mat-spinner matPrefix [diameter]="20"></mat-spinner>
                }
                Tramitar
            </div>
        </button>
      <button matButton [mat-dialog-close]="false">Fechar</button>
    </mat-dialog-actions>
</form>
