<h2 mat-dialog-title>Deletar parecer</h2>

<mat-dialog-content>
  <p>Você tem certeza que deseja remover o parecer <strong>{{ data?.opinion?.name }}</strong>? Esta ação não poderá ser desfeita.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="isSubmitting()" [mat-dialog-close]="false">
    Cancelar
  </button>

  <button 
    mat-flat-button 
    color="warn" 
    [disabled]="isSubmitting()" 
    (click)="onSubmit()"
  >
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      <span>{{ isSubmitting() ? 'Excluindo...' : 'Confirmar Exclusão' }}</span>
    </div>
  </button>
</mat-dialog-actions>