<h2 mat-dialog-title>Deletar usuário</h2>

<mat-dialog-content>
  @if (data?.user?.professional?.name) {
    Você deseja realmente deletar o usuário <strong>{{ data.user.professional.name }}</strong>?
  } @else {
    Você deseja realmente deletar este usuário?
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton [mat-dialog-close]="false" [disabled]="isSubmitting()">
    Fechar
  </button>
  
  <button matButton="filled" color="warn" [disabled]="isSubmitting()" (click)="onSubmit()">
    <div class="waiting">
      @if (isSubmitting()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      }
      Deletar
    </div>
  </button>
</mat-dialog-actions>