<h2 mat-dialog-title>Selecionar módulo</h2>
<mat-dialog-content class="mat-typography" style="padding: 0; padding-bottom: 15px;">
  <mat-action-list style="width: 100%;">
  @for (item of data.user.modules; track $index) {
    <button mat-list-item (click)="changeModule(item.id)" [disabled]="checkModule(item.id)">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <mat-icon style="margin-right: 10px;">person</mat-icon>
          <div>{{ item.name }}</div>
        </div>
        @if (checkModule(item.id)) {
          <mat-icon>check</mat-icon>
        }
      </div>
    </button>
  }
  </mat-action-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
