<h2 mat-dialog-title>Nova regra</h2>
<form [formGroup]="createRoleForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        @if (isLoading()) {
            <div class="loading-container">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        } @else {
            <div class="field">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
            <section>
                <div class="title" style="margin-top: 0;">
                    <mat-icon>people</mat-icon>
                    <h2>Usuários</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('usuário'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>security</mat-icon>
                    <h2>Regras</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('regra'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>domain</mat-icon>
                    <h2>Unidades hospitalares</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('unidade hospitalar'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>medical_services</mat-icon>
                    <h2>Datasus</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('datasus'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>settings</mat-icon>
                    <h2>Configurações</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('configuração'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>personal_injury</mat-icon>
                    <h2>Pacientes</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('paciente'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>assignment</mat-icon>
                    <h2>Solicitações</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('solicitação'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>search</mat-icon>
                    <h2>Consultar</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('consultar'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>grading</mat-icon>
                    <h2>Pareceres</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('parecer'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>luggage</mat-icon>
                    <h2>Passagens</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('passagem'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>price_check</mat-icon>
                    <h2>Ajudas de custo</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('ajuda de custo'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
                <div class="title">
                    <mat-icon>payments</mat-icon>
                    <h2>Pagamentos</h2>
                </div>
                <div class="group">
                    @for (item of getFilteredRole('pagamento'); track item.id) {
                        <div>
                            <mat-slide-toggle (toggleChange)="togglePermission(item)">{{item.name.split('/')[1]}}</mat-slide-toggle>
                        </div>
                    }
                </div>
            </section>
        }
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton="filled" type="submit" [disabled]="createRoleForm.invalid || wSubmit()">
            <div class="waiting">
                @if (wSubmit()) {
                    <mat-spinner matPrefix [diameter]="20"></mat-spinner>
                }
                Criar
            </div>
        </button>
        <button matButton [mat-dialog-close]="false">Fechar</button>
    </mat-dialog-actions>
</form>

